.current-weather-card {
    width: 100%;
    aspect-ratio: 3/1;
    text-shadow: rgba(0, 0, 0, 1) 0px 0px 7px;
    text-align: center;
}

.integration-info-view-more-popup-modal {
    background-color: var(--card-color);
    border-radius: var(--roundness);
    box-shadow: var(--epic-shadow), rgba(0, 0, 0, 0.4) 0px 0px 0px 100000px;
    padding: 20px;
}

.integration-info-view-more-popup-modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.integration-info-view-more-popup-modal h1 {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 30px;
}

.current-weather-card-content {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 100%;
}

.current-weather-card-image-container {
    width: calc(100% /3 ) ;
}

.current-weather-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: -30px;
}

.current-weather-card-text-container {
    width: calc(100% /3 * 1.15);
    padding: 0 10px;
}

.current-weather-card-text {
    width: 100%;
}

.current-weather-card-text-degrees {
    font-size: 2.5rem;
    font-weight: 600;
}


.current-weather-card-text-description {
    font-size: 1rem;
    font-weight: 700;
    height: 100px;
    margin-top: -110px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.current-weather-card-wind-image {
    width: 40px;
    height: 40px;
    filter: invert(1) drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.8));
}


.disabled-container {
    position: relative;
    width: 100%;
}

.disabled-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 3/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: 400;
    z-index: 1;
    text-shadow: #000000 0px 0px 7px;
}