.card-container {
    width: 100%;
    background-color: var(--card-color);
    margin: 5px 0;
    border-radius: var(--roundness);
    box-shadow: var(--epic-shadow);
    position: relative;
    border: var(--card-border);
    color: var(--text-color);
    min-height: 70px;
    
    overflow: hidden;
}