.card-container {
    width: 80px;
    background-color: var(--card-color);
    margin: 5px;
    border-radius: var(--roundness);
    box-shadow: var(--epic-shadow);
    position: relative;
    border: var(--card-border);
}

dialog {
    z-index: 999;
    box-shadow: var(--epic-shadow);
    border: none;
    background-color: lightgrey;
}

.mode-buttons {
    border-radius: 100%;
    border: none;
    margin: 0;
    padding: 0;
    background: gray;
    aspect-ratio: 1;
    padding: 2px;
    display: flex;
    box-shadow: var(--epic-shadow);
}

.mode-images {
    width: 30px;
    cursor: pointer;
}


.mode-buttons:hover {
    background-color: darkgray;
}


.edit-button {
    position: absolute;
    top: -6px;
    left: -6px;
}

.delete-button {
    position: absolute;
    top: -6px;
    right: -6px;
}

.delete-button:hover {
    background-color:red;
}