.header {
    box-shadow: var(--epic-shadow);
    height: var(--header-height);
    padding: var(--header-padding) 0;
    display: flex;
    flex-direction: row;
    background-color: var(--header-bg-color);
}

.profile-picture {
    height: 100%;
    object-fit: contain;
    border-radius: 100%;
    
}


.spacer {
    flex-grow: 1;
}

.profile-info {
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 0 10px;
}

.icon-btn {
    height: 80%;
    display: flex;
    margin-right: 10px;
    align-items: center;
}

.icon-btn img {
    height: 100%;
    opacity: 80%;
}

.icon-btn:hover {
    background-color: #ffffff2e;
    border-radius: var(--roundness);
}
.icon-btn:active {
    background-color: #ffffff5e;
}



.edit-mask {
    -webkit-mask-image: url("../../images/edit.svg");
    mask-image: url("../../images/edit.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    height: 100%;
    cursor: pointer;
}



.edit-mask div {
    height: 100%;
    aspect-ratio: 1;
    background-color: var(--text-color);
    width: 100%;
    filter: opacity(80%);
}


.edit-mask-active div {
    background-color: var(--accent-color);
    filter: opacity(100%);
}