.header {
    box-shadow: var(--epic-shadow);
    height: var(--header-height);
    padding: var(--header-padding) 0;
    display: flex;
    flex-direction: row;
    background-color: var(--header-bg-color);
}

.profile-picture {
    height: 100%;
    object-fit: contain;
    border-radius: 100%;
    
}




.left-btns-container {
    justify-self: flex-start;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    display: flex;
}

.profile-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 0 10px;
}

.header-icon-btn {
    height: 80%;
    margin-right: 10px;
}



.edit-mask {
    -webkit-mask-image: url("../../images/edit.svg");
    mask-image: url("../../images/edit.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    height: 100%;
    cursor: pointer;
}



.edit-mask div {
    height: 100%;
    aspect-ratio: 1;
    background-color: var(--text-color);
    width: 100%;
    filter: opacity(80%);
}


.edit-mask-active div {
    background-color: var(--accent-color);
    filter: opacity(100%);
}