:root {
  --sunset-orange: #ff9735;
  --sunrise-blue: #52c8ff;


  /* Important variables */
  --accent-color: var(--sunrise-blue);
  --text-color: white;
  --roundness: 5px;
  --bg-color: #1e1e1e;
  --error-color: rgb(255, 16, 16);
  --delete-color: rgb(255, 27, 57);

  /* Header and sidebar */
  --header-bg-color: #3c3c3c;
  --header-height: 40px;
  --header-padding: 5px;

  --sidebar-bg-color: var(--header-bg-color);
  --sidebar-top-bg-color: var(--bg-color);
  --sidebar-width: 250px;
  --sidebar-trans-duration: 800ms;

  /* Shadows */
  --epic-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  --epic-shadow-inverted: rgba(0, 0, 0, 0.4) 0px 2px 4px inset, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px inset, rgba(0, 0, 0, 0.2) 0px -3px 0px, rgba(255, 255, 255, 0.1) 0px -5px 4px -4px inset;
  --less-epic-shadow: inset rgba(0, 0, 0, 0.4) 0px 11px 5px -11px;
  --normal-shadow: rgba(0, 0, 0, 0.178) 0px 0px 5px 2px;

  /* Cards */
  --card-border: none;
  --card-color: #42424b;
  --card-color-2: #61616e;
  --card-color-2-hover: #949494;
  --card-text-color: white;
  --url-card-image-padding: 10px;

  /* Columns */
  --column-color: transparent;
  --add-card-color: var(--card-color-2);
  --add-card-border: 2px solid var(--card-color-2-hover);

  /* Buttons */
  --standard-btn-color:  #e6e6e6;
  --standard-btn-text-color: black;
  --standard-btn-border: none;
  --standard-btn-radius: var(--roundness);
  --standard-btn-shadow: var(--epic-shadow);
  --standard-btn-shadow-active: var(--epic-shadow-inverted);

  --cancel-btn-color: var(--standard-btn-color);
  --cancel-btn-text-color: var(--standard-btn-text-color);

  --delete-btn-color: var(--delete-color);
  --delete-btn-text-color: black;

  /* Inputs */
  --input-width: 300px;
  --input-bg-color: var(--card-color);
  --input-text-color: var(--card-text-color);
  --input-padding: 5px;
  --input-shadow: var(--epic-shadow-inverted);
  --input-roundness: var(--roundness);
  --input-focus-outline: var(--accent-color) solid 2px ;


  /* integration page components */
  --integration-info-component-width: 400px;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.popup-container {
  background-color: var(--card-color-2);
  border-radius: var(--roundness);
  box-shadow: var(--epic-shadow), rgba(0, 0, 0, 0.3) 0px 0px 0px 10000px;
  padding: 10px;
  max-width: 90vw;
}

.cover {
  width: 100vw; 
  height: calc(100vh - var(--header-height) - var(--header-padding) - var(--header-padding)); 
  align-content: center; 
  justify-content: center;
  display: flex;
  background-color: black;
}

.auth-loading-image {
  width: 100%;
  object-fit: cover;
}

.cover-img {
  width: 100%;
  object-fit: contain;
}




::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: transparent;

}

::-webkit-scrollbar-thumb {
  border-radius: var(--roundness);
  transition-duration: 400ms;
  background-color: var(--card-color);
  border: 2px solid var(--bg-color);
}

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--card-color-2);
    
  }

button {
  background-color: var(--standard-btn-color);
  color: var(--standard-btn-text-color);
  border: var(--standard-btn-border);
  box-shadow: var(--standard-btn-shadow);
  border-radius: var(--standard-btn-radius);
  padding: 4px 8px;
}

button:hover {
  filter: brightness(110%);
}

button:active {
  box-shadow: var(--standard-btn-shadow-active);
}

.delete-btn {
  background-color: var(--delete-btn-color);
  color: var(--delete-btn-text-color);
}

input {
  min-width: var(--input-width);
  background-color: var(--input-bg-color);
  border: none;
  color: var(--input-text-color);
  padding: var(--input-padding);
  box-shadow: var(--input-shadow);
  border-radius: var(--input-roundness);
}

input:focus-visible {
  outline: var(--input-focus-outline);
}

/* :focus-visible {
  outline: none;
} */

.spacer {
  flex-grow: 1;
}


.icon-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: var(--roundness);
}

.icon-btn img {
  height: 100%;
  opacity: 80%;
}

.icon-btn:hover {
  background-color: #ffffff2e;
}
.icon-btn:active {
  background-color: #ffffff5e;
}

.content-container {
  display: flex;
  flex-direction: row;
}

.content {
  flex-grow: 1;
}